.addBtn{
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: none;
    outline: none;
    background-color: rgb(49, 49, 117);
    color: white;
    width: fit-content;
    font-size: 2rem;
    padding: 18px;
    box-shadow: 2px 3px 18px rgba(0,0,0,0.4);
    position: fixed;
    bottom: 50px;
    right: 20px;

}