nav {
  padding: 17px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}

.topSticky {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;
  padding-bottom: 20px;
}

nav span {
  display: flex;
  align-items: center;
  color: red;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 5px;
}
nav h1 {
  font-size: 2rem;
}

.mainBody {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  background-color: #c1c9fa;
}

footer {
  margin-top: auto;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid rgb(212, 212, 212);
  color: rgb(121, 121, 121);
}
footer a {
  text-decoration: none;
  color: rgb(216, 107, 5);
}

.noTask {
  text-align: center;
  margin-top: 28vh;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.479);
}

.taskList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}

.task {
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: #fff3ca;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.16);
  border-radius: 7px;
  border: 0.5px solid rgb(161, 161, 161);
  padding: 9px 49px 7px 8px;
  position: relative;
}

.task svg {
  font-size: 1.2rem;
  flex-basis: 10%;
}

.task .text {
  font-size: 1.3rem;
  line-height: 28px;
}

.task.done .text {
  text-decoration: line-through;
}

.task.done {
  opacity: 0.57;
  background-color: rgb(224, 224, 224);
  /* box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.23); */
  border: 1px solid rgb(122, 122, 122);
}

svg.dltBtn,
svg.editBtn {
  position: absolute;
  right: 10px;
  font-size: 1.7rem;
  z-index: 9;
  width: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

svg.editBtn {
  color: #4e4e4e;
}

svg.editBtn:active {
  color: #2b43dd;
}

svg.dltBtn:active {
  color: rgb(216, 24, 24);
  font-size: 1.4rem;
}

.loading {
  margin-top: 28vh;
  text-align: center;
  font-size: 2rem;
  color: rgb(80, 80, 80);
}

form {
  display: flex;
  width: 100%;
  gap: 8px;
  /* align-items: center; */
  margin-top: 20px;
}

form button {
  padding: 10px 5px;
  font-size: 1.45rem;
  display: flex;
  align-items: center;
  gap: 7px;
  width: 101px;
  justify-content: center;
  border: none;
  background-color: #475bdd;
  color: white;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}

form button:not(:disabled):active {
  background-color: #3343b1;
  gap: 12px;
}
form button:disabled {
  opacity: 0.7;
}

form button svg {
  font-size: 1.2rem;
}

form input {
  width: calc(100% - 101px);
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 7px;
  border: 2px solid #475bdd;
  outline: none;
  color: #475bdd;
}
form input:focus {
  border-color: #02158e;
}

form input::placeholder {
  font-size: 1.3rem;
  color: #c1c9fa;
  line-height: 10px;
}

.progressDiv {
  display: flex;
  gap: 7px;
  margin-top: 20px;
  justify-content: center;
  font-size: 1.1rem;
}
.progressDiv span {
  color: blue;
  /* font-weight: 500; */
  cursor: pointer;
}

.progressDiv span.active {
  color: black;
  font-weight: 500;
}

.loadingBody {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #f8f8f9;
}
.loadingDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: -20px;
}

.loadingDiv svg {
  width: 70%;
}
.loadingDiv p {
  font-size: 2rem;
  color: #8ba6e7;
}

.taskContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 90%;
}
.taskContent p.time {
  font-size: 0.9rem;
  color: rgba(112, 112, 112, 0.768);
}

/* MEDIA QUERIES */
@media screen and (min-width: 650px) {
  form {
    margin-top: 40px;
  }
  form input {
    padding-left: 15px;
  }
  .task {
    padding: 9px 50px 7px 8px;
  }
  .task svg {
    font-size: 1.1rem;
    flex-basis: 5%;
  }

  .taskContent {
    flex-basis: 95%;
  }
  .task p {
    font-size: 1.2rem;
    line-height: 25px;
  }
  .taskList {
    gap: 26px;
  }
  svg.dltBtn {
    font-size: 1.5rem;
  }
}
